<ion-view hide-back-button="false">
  <ion-content padding="true" class="has-header">

    <label class="item item-input">
      <input type="text" placeholder="Search..." ng-model="searchView.searchText">
      <a ng-if="searchView.searchText != ''" on-touch="searchView.searchText=''">
         <i class="icon ion-ios-close placeholder-icon"></i>
      </a>
    </label>

    <div class="list list-mobile" ng-if="searchView.searchText != ''">
      <div class="card" ng-repeat="product in searchView.products">
        <div class="item">
          <h2>
            {{product.name_brand}}
          </h2>
          <p>
            {{product.name_generic}}
          </p>
          <product-offerings-list product="product._id"></product-offerings-list>
        </div>
      </div>
    </div>

    <div class="list list-mobile" ng-if="searchView.searchText == ''">
      <div class="card">
        <div class="item item-divider">
          I'm interested in...
        </div>
        <div class="item item-text-wrap">
          <ion-list>
            <ion-checkbox ng-model="searchView.red">Dermatology</ion-checkbox>
            <ion-checkbox ng-model="searchView.yellow">Family Medicine</ion-checkbox>
            <ion-checkbox ng-model="searchView.pink">Cardiology</ion-checkbox>
            <ion-checkbox ng-model="searchView.brown">Gynecology</ion-checkbox>
          </ion-list>
        </div>
        <div class="item item-divider">
          <a class="button icon-left ion-flag button-clear button-calm">My Interests</a>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
