<ion-view view-title="Profile">
 <div ui-view></div>
  <ion-content padding="true" class="has-header">

    <div ng-hide="profileView.isLoggedIn">
      <div class="card list">
        <div class="item item-divider">
        Log In
        </div>
        <label class="item item-input">
          <input type="text" placeholder="Email" ng-model="profileView.loginForm.email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="profileView.loginForm.password">
        </label>
        <div>
          <div class="row">

            <div class="col">
              <button class="button button-block button-calm button-outline button-stable" ng-click="profileView.forgotPassword()">
                Forgot Password
              </button>
            </div>

            <div class="col">
              <button class="item button button-block button-calm" ng-click="profileView.login()">
                Sign In
              </button>
            </div>

          </div>
        </div>
      </div>

      <div class="list card">
        <div class="item item-divider">
          Register
        </div>
          <div class="row">

            <div class="col">
              <a class="button button-block button-positive" href="/profile/register">
                  Healthcare Professional
              </a>
            </div>

            <div class="col">
              <a class="button button-block button-positive" href="/profile/register">
                  Medical Representative
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div ng-show="profileView.isLoggedIn">
    	<div class="list card">
          <div class="item item-divider">
            Welcome {{ profileView.user.givenName }} {{ profileView.user.familyName }}!
          </div>
          <a href="/profile/details" class="item item-icon-left">
            <i class="icon ion-person"></i>
            About Me
          </a>
          <a ng-if="profileView.user.role == 'rep'" href="/profile/portfolio" class="item item-icon-left">
            <i class="icon ion-filing"></i>
            Portfolio
            <span class="badge">{{ profileView.user.products ? profileView.user.products.length : 0 }} Products</span>
          </a>
          <a ng-if="profileView.user.role == 'rep'" href="/profile/payment" class="item item-icon-left">
            <i class="icon ion-card"></i>
            Payment
          </a>
          <a ng-click="profileView.logout()" class="item item-icon-left assertive">
            <i class="icon ion-log-out"></i>
            Log Out
          </a>
        </div>
    </div>
  </ion-content>
</ion-view>
